In [1]:
from itertools import combinations

import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from itertools import combinations

import os
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import re
import warnings

import lightgbm as lgb
from sklearn.ensemble import RandomForestClassifier
from unidecode import unidecode
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold

from itertools import combinations
from datetime import datetime
from contextlib import contextmanager

In [2]:
df_train = pd.read_csv("../../data/kalapa/train.csv")
df_test = pd.read_csv("../../data/kalapa/test.csv")

/home/parker/anaconda3/envs/py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (35,43) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/parker/anaconda3/envs/py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (34,42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_train.Field_3

0        1.0
1        NaN
2        2.0
3        NaN
4        NaN
        ...
53025    1.0
53026    NaN
53027    2.0
53028    NaN
53029    NaN
Name: Field_3, Length: 53030, dtype: float64

In [4]:
def check_duplicate(feature1, feature2):
    check1 = list(df_train[feature1].fillna("NaN"))
    check2 = list(df_train[feature2].fillna("NaN"))
    return check1 == check2
distinct_columns = {}
for col1 in df_test.columns:
    vc = df_train[col1].value_counts()
    index = [len(vc), set(list(vc)), set(list(vc.index))]
    for col2 in distinct_columns:
        if index == distinct_columns[col2] and check_duplicate(col1, col2):
            break
    else:
        distinct_columns[col1] = index
duplicate = []
for col in df_train.columns:
    if col not in distinct_columns:
        duplicate.append(col)

In [5]:
df_train[distinct_columns]

,id,Field_1,Field_2,Field_3,Field_4,Field_5,Field_6,Field_7,Field_8,Field_9,...,partner5_A,partner5_D,partner5_G,brief,num_of_phone,Field_78,Field_79,Field_80,Field_81,Field_82
0,0,2019-07-24T03:39:02.854Z,2019-07-31T20:10:02Z,1.0,GH,2018-12-27,2018-12-27,2019-01-01,2019-07-31,2018-12-27,...,0.0,0.0,0.0,cb1,1.0,NaN,NaN,NaN,NaN,1
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,4,1.0,NaN,NaN,NaN,NaN,1
2,2,2019-01-17T07:15:26.367Z,2019-01-17T07:17:45Z,2.0,T1,2019-01-17,2019-01-17,2019-01-01,2019-12-31,2019-01-17,...,1.0,0.0,0.0,1,1.0,33.0,10.769445,6.466667,0.0,2
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,1.0,33.0,10.769445,6.466667,0.0,3
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,1.0,33.0,10.769445,6.466667,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53025,53025,2019-12-24T15:39:31.156Z,2019-12-24T15:40:44Z,1.0,GH,2019-12-24,2019-12-24,2020-01-01,2020-12-31,2019-12-24,...,0.0,0.0,0.0,1,1.0,202.0,157.837469,14.000000,-183.0,1
53026,53026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,notfound,1.0,26.0,10.246951,12.500000,2.0,1
53027,53027,2017-11-11T17:15:01.948Z,2017-11-11T17:15:01.948Z,2.0,T1,2017-07-22,2017-07-22,2017-07-01,2017-11-30,2017-07-22,...,0.0,0.0,0.0,notfound,1.0,NaN,NaN,NaN,NaN,1
53028,53028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,notfound,1.0,NaN,NaN,NaN,NaN,4
53029,53029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,3cy,1.0,17.0,30.336447,-7.500000,-68.0,1

In [6]:
DROP = ["gioiTinh","info_social_sex", "diaChi", 'currentLocationCity', 'currentLocationName',\
        'homeTownCity', 'homeTownName', "Field_68", "Field_49", "Field_48", "Field_46", "Field_45", "Field_45", \
       "Field_56", "Field_61"]
DATE = ["Field_{}".format(i) for i in [5, 6, 7, 8, 9, 11, 15, 25, 32, 33, 34, 35, 40]]
DATETIME = ["Field_{}".format(i) for i in [1, 2, 43, 44]]

In [7]:
df_train.Field_18.value_counts()

.                   308
KD                   24
Sản xuất             22
,                    18
Kinh doanh           16
                   ...
A82802504             1
OP                    1
VINA                  1
E37301                1
1.TH8M2-17030130      1
Name: Field_18, Length: 6587, dtype: int64

In [8]:
@contextmanager
def timer(title):
    t0 = time.time()
    yield
    print("{} - done in {:.0f}s".format(title, time.time() - t0))

In [9]:
def subtract_date(date1,date2, df):
    df[date1] = pd.to_datetime(df[date1], infer_datetime_format=True)
    df[date2] = pd.to_datetime(df[date2], infer_datetime_format=True)
    df[date1+date2] = (df[date2] - df[date1]).dt.days

In [10]:
def process_ngaySinh(s):
    if s != s:
        return np.nan
    try:
        s = int(s)
    except ValueError:
        s = s.split(" ")[0]
        
    return datetime.strptime(str(s)[:6], "%Y%m")

In [11]:
def datetime_normalize(s):
    if s != s:
        return np.nan
    
    s = s.split(".")[0]
    if s[-1] == "Z":
        s = s[:-1]
        
    date, time = s.split("T")
    datetime_obj = datetime.strptime(s, "%Y-%m-%dT%H:%M:%S")
    return datetime_obj

In [12]:
def date_normalize(s):
    if s != s:
        return np.nan
    
    try:
        datetime_obj = datetime.strptime(s, "%m/%d/%Y")
    except:
        datetime_obj = datetime.strptime(s, "%Y-%m-%d")
        
    return datetime_obj

In [13]:
def process_datetime_cols(df):
    cat_cols = []
    for col in DATETIME:
        df[col] = df[col].apply(datetime_normalize)
        
    for col in DATE:
        if col == "Field_34":
            continue
        df[col] = df[col].apply(date_normalize)

    df["Field_34"] = df["Field_34"].apply(process_ngaySinh)
    df["ngaySinh"] = df["ngaySinh"].apply(process_ngaySinh)
    
    cat_cols += DATE + DATETIME
    for col in DATE + DATETIME:
        df[col] = df[col].dt.strftime('%d-%m-%Y')
    
    subtract_date('Field_5','Field_6',df)
    subtrac_List = ['Field_1', 'Field_2', 'Field_43', 'Field_44', 'Field_7','Field_8', 'Field_9']
    subtract_2C = list(combinations(subtrac_List, 2))
    for l in subtract_2C:
        subtract_date(l[0],l[1],df)
    
    for cat in ['F', 'E', 'C', 'G', 'A']:
        subtract_date(f'{cat}_startDate', f'{cat}_endDate', df)
    print(df.shape) 
    return df

In [14]:
def str_normalize(s):
    s = str(s).strip().lower()
    s = re.sub(' +', " ", s)
    return s

In [15]:
def process_location(df):
    for col in ["currentLocationLocationId", "homeTownLocationId", "currentLocationLatitude", "currentLocationLongitude", 
                   "homeTownLatitude", "homeTownLongitude"]:
        df[col].replace(0, np.nan, inplace=True)
    return df

In [16]:
def combine_gender(s):
    x, y = s
    return x if x != None else y if y != None else None

In [17]:
def process_gender(df):
    df["gender"] = df[["gioiTinh", "info_social_sex"]].apply(combine_gender, axis=1).astype("category")
    return df

In [18]:
def process_ordinal(df):        
    df["subscriberCount"].replace(0, np.nan, inplace=True)
    df["friendCount"].replace(0, np.nan, inplace=True)
    
    df["Field_13"] = df["Field_13"].apply(lambda x: 1 if x == x else 0)
    df["Field_38"] = df["Field_38"].map({0: 0.0, 1: 1.0, "DN": np.nan, "TN": np.nan, "GD": np.nan})
    df["Field_62"] = df["Field_62"].map({"I": 1, "II": 2, "III": 3, "IV": 4, "V": 5, "Ngoài quốc doanh Quận 7": np.nan})
    df["Field_47"] = df["Field_47"].map({"Zezo": 0, "One": 1, "Two": 2, "Three": 3, "Four": 4})
    
    df["Field_27"] = df["Field_27"].replace({0.0: np.nan})
    df["Field_28"] = df["Field_28"].replace({0.0: np.nan})
        
    for col in df.columns:
        if df[col].dtype.name == "object":
            df[col] = df[col].apply(str_normalize).astype("category")
            
    return df

In [19]:
def fix_maCv(x):
    lower = str(x).lower()
    if any([x in lower for x in ["nhân viên", "kế toán", "thủ kho", "tạp vụ",\
                                "thu ngân", "phóng viên", "giao dịch", "operator", "cnv",\
                                "huấn luyện viên", "ktoán", "nv", "lễ tân", "thư ký ",\
                                "gsbh", "tiếp viên", "nhõn viờn", "chăm sóc", "hướng dẫn viên", \
                                "kiểm phẩm",  "kĩ sư",  "cấp dưỡng", "kiểm gấp",\
                                "kiểm soát viên", "kiểm ngân", "nv", "lưu hóa", "nhân  viên", "lưu trữ viên", \
                                "phát hành báo", "ktv", "kiến trúc sư", "kinh tế viên", "staff", "checker",\
                                "sỹ quan", "dịch vụ", "kiểm tra viên", \
                                "cộng tác viên", "qc ksqt", "nhân vên", "kế hoạch sản xuất", "nhaõn vieõn", \
                                "thí nghiệm", "thông kê", "kiểm hàng", "k? s?", "thư ký", "hợp đồng", \
                                "thẩm phán", "thao tác viên", "thủ quỹ", "lấy mẫu", "LÁI XE".lower(), \
                                "biên tập", "ksxd", "phiên dịch", "tb tuyên huấn", "sales", "thường trực", \
                                "trợ lý", "tiếp thực", "giỏm sỏt", \
                                "trình dược viên", "btđtn", "phúng viờn", \
                                "thông dịch", "tiếp thị", "tư vấn", "tổng đài", "vi tính", "viên chức", \
                                "văn phòng", "văn thư", 'Thiết Kế'.lower(), "vận hành", "nhan vien", \
                                "kiểm tra chất lượng", "pbt", "phi công", "laptop",\
                                "phụ trách kiểm hàng", "quay phim", "thư viện viên", \
                                "trực buồng", "techcombank", "cảng vụ viên", "trainee", "bhxh", "marketing", \
                                "tuyên truyền viên",  "kế hoạch", "ks", \
                                "an toàn viên", "CHỈ SỐ VIÊN".lower(), \
                                "thu mua", "giám éịnh viên", "kiểm định viên",  "giám định", \
                                "quản trị mạng", "thơợ", "thống kê", "thủ  quỹ",  \
                                "điện thoại", "điện thọai", "đội thông tin", "đón  tiếp khách hàng", \
                                "đơn hàng", "đại diện", "điều phối viên", "n.v", "bán vé", "c«ng nh©n", \
                                "gs camera",  "máy dán", "tv",  "đồ họa"]]):
        return "NV"
    elif any([x in lower for x in ["kỹ","chuyên viên","kĩ thuật viên","kĩ thuật", "kỹ thuật viên",\
                                 "kỷ thuật viên","lập trình viên", "chuyờn viờn", "chuyªn viªn",]]):
        return "KTV"
    elif any([x in lower for x in ["cán bộ", "cán sự", "bí thư đoàn", "cb", "phường đội", "trưởng công an", \
                                  "công an viên", "an ninh viên","tổ viên", "công chức", "quản sinh", \
                                   "bí thư xã  đoàn","điều tra viên", "đăng kiểm", "cỏn bộ","đtv", "trực ban",\
                                  ]]):
        return "CB"
    elif any([x in lower for x in ["tổ trưởng", "giám sát", "quản lý", "cửa hàng trưởng", "chuyền trưởng", "kho",\
                                  "phó", "pp", "nhóm trưởng", "trưởng phòng", "trưởng ca", "trưởng tàu khách", \
                                  "trưởng nhóm", "cửa hàng trưởng", "trưởng bộ", "tổng phụ trách", "đào tạo", \
                                  "phụ trách phòng", "quản doanh", "vhtt", "trưởng ban", "dự án", "nhân sự",\
                                  "chỉ huy", "triển khai", "trưởng kiểm soát", "điều hành", "đội trưởng", \
                                  "chỉ huy", "qlsx", "t? tr??ng", "may"]]):
        return "QL"
    elif any([x in lower for x in ["công",  "bảo vệ", "thợ", "lao động", "bán hàng",\
                                "phụ kho", "phụ việc", "phết", "bảo mẫu", "phục vụ", "đóng gói", "ép cao tần", \
                                "cn", "sản Phẩm", "giao nhận","cụng nhõn", "gia công", "kiÓm tra".lower(), \
                                "cô nuôi", "bảo dưỡng", "c.n", "coi bồn", "cạo mủ", "coõng nhaõn", "khai thác",\
                                "cod", "bốc xếp", "bếp", "lái máy", "lđpt", "khuôn", "hàng rong", "phụ bếp",\
                                "phụ tá", "thủ công", "dệt", "sửa chữa", "băng chuyền", "lắp ráp", \
                                "chà nhám", "cn", "bếp phụ", "chụp hình", "KHUNG SắT".lower(), "kcs chuyền", \
                                "lao động", "thành hình", "lao công", "cônh nhân", "thi công", "cán lần 1", \
                                "lái phụ máy", "thủy thủ", "gác ghi", "quay ghi", "bảo trì", "bảo mẩu", \
                                "máy 3 tàu", "giao hàng", "trực chính", "hỗ trợ", "lái xúc gạt", "công  nhân",\
                                "lđhđ", "lao d?ng", "c. nhân", "pv nước", "hđlđ", "vệ sinh", "phụ", "vệ sỹ", \
                                "xếp hộp", "barista", "hàn điện", "thuỷ thủ", "xây dựng", "b?o v?", \
                                "mài phá", "xếp da", "worker", "cong nhan", "pha chế", \
                                "máy trưởng", "phụ trách sản xuất", "trải vải", "YếN TIệC".lower(), "gấp xếp", \
                                "in sơ đồ", "lđ phổ thông", "mài", "nhồi mút", "ép", "gói", "đóng", \
                                "đội viên", "đánh máy", "đứng máy", "ủi", "săm", 'atlđ']]):
        return "CN"
    elif any([x in lower for x in ["lái xe", "tài xế", "phụ xe","lái cẩu", "vân hành", ]]):
        return "TX"
    elif any([x in lower for x in ["giáo viên", "gv", "giảng viên", "chủ nhiệm lớp", "giáo viến", \
                                   "Giáo viến".lower(), "mầm non"]]):
        return "GV"
    elif any([x in lower for x in ["kinh doanh", "kinh  doanh"]]):
        return "KD"

    elif any([x in lower for x in ["hiệu trưởng", "chủ tịch", "pgđ", "giám đốc"]]):
        return "GĐ"
    elif any([x in lower for x in ["điều dưỡng", "hộ lý", "nữ hộ sinh", "h? lý", "hộ sinh"]]):
        return "ĐD"
    elif any([x in lower for x in ["y sĩ", "dược sỹ", "bác sĩ", "bác sỹ", "dược", "dược tá", "thú y", "y sỹ",\
                                  "y tế", "y công", "y tá", "dựơc tá", "ytth"]]):
        return "BS"
    elif any([x in lower for x in ["cử nhân", "cđ", "học viên", "tc", "cao đẳng", "cao đẵng", "trung cấp"]]):
        return "HS"
    elif any([x in lower for x in ["diễn viên", "ca sĩ"]]):
        return "DV-CS"
    elif any([x in lower for x in ["undefined", "nguyễn thế hưng", "ln091", "thieu chuc danh", "th noọng hẹt", \
                                  "875 lk", "-", "p.xnk", "cỏn b?", '22568', "unt", "01019882", "xtnt", "ltv", \
                                  "plđg hc", "mia", "pqtd", "kttntl", "llqs", "kcsmhm", "nt", "dtm", "i", "qc",\
                                  '/  /', '1', '14', 'a', 'chủ hộ', 'coõng vuù', 'kcs', 'pk b2c',\
                                   'xt2', 'kcs', 'sxct']]):
        return np.nan
    return x

In [20]:
def fix_55(x):
    if x in ['BC', 'BG', 'CN', 'CO', 'DB', 'EL', 'FO', 'H5', 'KX', 'N7', 'NR', 'SD', 'SJ', 'ST', 'WD']:
        return np.nan
    return x

In [21]:
def transform(df):
    df = process_datetime_cols(df)
    df = process_gender(df)
    df = process_location(df)
    df = process_ordinal(df)
    return df.drop(DROP, 1)

In [22]:
df_train = pd.read_csv("../../data/kalapa/train.csv")
df_test = pd.read_csv("../../data/kalapa/test.csv")
df_all = df_train.drop(['label'], 1).append(df_test)
df_all = df_all[distinct_columns]

df_all.maCv = df_all.maCv.apply(fix_maCv)
df_all.Field_55 = df_all.Field_55.apply(fix_55)



with timer("Preprocess"):
    df_all_fe = transform(df_all.copy())
    df_all_fe['Age'] = df_all_fe.ngaySinh.apply(lambda x: 2020 - x.year)
    df_all_fe = df_all_fe.drop('ngaySinh', axis = 1)
    cols_select = [x for x in df_all_fe.columns if x not in DATE + DATETIME  + [f'{cat}_endDate' for cat in ['F', 'E', 'C', 'G', 'A']] + [f'{cat}_startDate' for cat in ['F', 'E', 'C', 'G', 'A']]]
    df_fe = df_all_fe[cols_select]
    df_fe.replace([np.inf, -np.inf], -99999999999999999, inplace=True)

    for col in df_fe.columns:
        if df_fe[col].dtype.name == "category":
            if df_fe[col].isnull().sum() > 0:
                df_fe[col] = df_fe[col].cat.add_categories(f'missing_{col}')
                df_fe[col].fillna(f'missing_{col}', inplace=True)
        else:
            df_fe[col].fillna(-99999, inplace=True)

    y_label = df_train["label"]
    train_fe = df_fe[df_fe["id"] < df_train.shape[0]]
    test_fe = df_fe[df_fe["id"] >= df_train.shape[0]]

/home/parker/anaconda3/envs/py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (35,43) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/parker/anaconda3/envs/py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (34,42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(73411, 175)
Preprocess - done in 16s

/home/parker/anaconda3/envs/py37/lib/python3.7/site-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/home/parker/anaconda3/envs/py37/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/home/parker/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
df_train = pd.concat([df_train.id,df_train.label, train_fe.iloc[:,1:]], axis = 1)

In [24]:
for col in train_fe.iloc[:,2:].columns:
    vc1 = train_fe[col].value_counts()
    vc2 = test_fe[col].value_counts()
    print(f"train_fe : {col}: {len(vc1)}: {vc1.index[:7]}")
    print(f"test_fe  : {col}: {len(vc2)}: {vc2.index[:7]}")

train_fe : Field_4: 3: CategoricalIndex(['nan', 't1', 'gh'], categories=['gh', 'nan', 't1'], ordered=False, dtype='category')
test_fe  : Field_4: 3: CategoricalIndex(['nan', 't1', 'gh'], categories=['gh', 'nan', 't1'], ordered=False, dtype='category')
train_fe : Field_10: 7: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 0.0], dtype='float64')
test_fe  : Field_10: 6: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
train_fe : Field_12: 8: CategoricalIndex(['nan', 'g8', 'g3', 'gx', 'g7', 'g9', 'g2'], categories=['g2', 'g3', 'g4', 'g7', 'g8', 'g9', 'gx', 'nan'], ordered=False, dtype='category')
test_fe  : Field_12: 8: CategoricalIndex(['nan', 'g8', 'g3', 'g7', 'gx', 'g9', 'g2'], categories=['g2', 'g3', 'g4', 'g7', 'g8', 'g9', 'gx', 'nan'], ordered=False, dtype='category')
train_fe : Field_13: 2: Int64Index([0, 1], dtype='int64')
test_fe  : Field_13: 2: Int64Index([0, 1], dtype='int64')
train_fe : Field_18: 8625: CategoricalIndex(['nan', '.', 'phòng kinh doanh', 'sản xuất', 'kd',
                  'kinh doanh', ','],
                 categories=['#', ''03/07/2019', ''2959-3b', '(03-233)', '(1)', '(11-171-10)', '(13)', '(13-215)', ...], ordered=False, dtype='category')
test_fe  : Field_18: 8625: CategoricalIndex(['nan', '.', 'thành phố biên hòa', 'sản xuất', 'kinh doanh',
                  'kd', '1'],
                 categories=['#', ''03/07/2019', ''2959-3b', '(03-233)', '(1)', '(11-171-10)', '(13)', '(13-215)', ...], ordered=False, dtype='category')
train_fe : Field_19: 355: Float64Index([-99999.0, 0.0, 1.0, 1.86, 2.67, 2.34, 2.06], dtype='float64')
test_fe  : Field_19: 231: Float64Index([-99999.0, 0.0, 1.0, 2.34, 1.86, 2.67, 2.06], dtype='float64')
train_fe : Field_20: 4736: Float64Index([-99999.0, 1490000.0, 1390000.0, 4500000.0, 973000.0, 1043000.0,
              4260000.0],
             dtype='float64')
test_fe  : Field_20: 2355: Float64Index([-99999.0, 1490000.0, 1390000.0, 4500000.0, 4300000.0, 973000.0,
              4260000.0],
             dtype='float64')
train_fe : Field_21: 5: Float64Index([-99999.0, 4.5, 0.0, 6.0, 3.0], dtype='float64')
test_fe  : Field_21: 5: Float64Index([-99999.0, 4.5, 0.0, 6.0, 3.0], dtype='float64')
train_fe : Field_22: 4: Float64Index([-99999.0, 1.0, 0.0, 2.0], dtype='float64')
test_fe  : Field_22: 4: Float64Index([-99999.0, 1.0, 0.0, 2.0], dtype='float64')
train_fe : Field_23: 314: Float64Index([-99999.0, 0.0, 12.0, 24.0, 1.0, 36.0, 2.0], dtype='float64')
test_fe  : Field_23: 284: Float64Index([-99999.0, 0.0, 12.0, 24.0, 1.0, 36.0, 6.0], dtype='float64')
train_fe : Field_27: 636: Float64Index([-99999.0, 1150000.0, 1210000.0, 3317000.0, 3745000.0, 805000.0,
              3000000.0],
             dtype='float64')
test_fe  : Field_27: 286: Float64Index([-99999.0, 1150000.0, 1210000.0, 3317000.0, 726000.0, 3745000.0,
              2889000.0],
             dtype='float64')
train_fe : Field_28: 634: Float64Index([-99999.0, 54450.0, 51750.0, 149265.0, 168525.0, 36225.0,
              34500.0],
             dtype='float64')
test_fe  : Field_28: 288: Float64Index([-99999.0, 51750.0, 54450.0, 149265.0, 32670.0, 168525.0,
              130005.0],
             dtype='float64')
train_fe : Field_29: 44: Float64Index([-99999.0, 12.0, 0.0, 6.0, 3.0, 24.0, 4.0], dtype='float64')
test_fe  : Field_29: 32: Float64Index([-99999.0, 12.0, 0.0, 6.0, 3.0, 24.0, 4.0], dtype='float64')
train_fe : namSinh: 4: Float64Index([-99999.0, 0.0, 1.0, 2.0], dtype='float64')
test_fe  : namSinh: 4: Float64Index([-99999.0, 0.0, 1.0, 2.0], dtype='float64')
train_fe : Field_36: 35: CategoricalIndex(['nan', 'dn', 'gd', 'hc', 'tn', 'ch', 'sv'], categories=['b3', 'bt', 'cb', 'ch', 'ck', 'cn', 'cy', 'dk', ...], ordered=False, dtype='category')
test_fe  : Field_36: 35: CategoricalIndex(['nan', 'dn', 'gd', 'hc', 'tn', 'ch', 'sv'], categories=['b3', 'bt', 'cb', 'ch', 'ck', 'cn', 'cy', 'dk', ...], ordered=False, dtype='category')
train_fe : Field_38: 3: Float64Index([-99999.0, 0.0, 1.0], dtype='float64')
test_fe  : Field_38: 3: Float64Index([-99999.0, 0.0, 1.0], dtype='float64')
train_fe : Field_39: 3: Float64Index([-99999.0, 1.0, 0.0], dtype='float64')
test_fe  : Field_39: 3: Float64Index([-99999.0, 1.0, 0.0], dtype='float64')
train_fe : Field_41: 3: Float64Index([-99999.0, 1.0, 0.0], dtype='float64')
test_fe  : Field_41: 3: Float64Index([-99999.0, 1.0, 0.0], dtype='float64')
train_fe : Field_42: 3: Float64Index([-99999.0, 1.0, 0.0], dtype='float64')
test_fe  : Field_42: 3: Float64Index([-99999.0, 1.0, 0.0], dtype='float64')
train_fe : Field_47: 6: Float64Index([-99999.0, 0.0, 1.0, 4.0, 2.0, 3.0], dtype='float64')
test_fe  : Field_47: 6: Float64Index([-99999.0, 0.0, 1.0, 4.0, 2.0, 3.0], dtype='float64')
train_fe : Field_50: 3: Float64Index([-99999.0, 1.0, 0.0], dtype='float64')
test_fe  : Field_50: 3: Float64Index([-99999.0, 1.0, 0.0], dtype='float64')
train_fe : Field_51: 3: Float64Index([-99999.0, 1.0, 0.0], dtype='float64')
test_fe  : Field_51: 3: Float64Index([-99999.0, 1.0, 0.0], dtype='float64')
train_fe : Field_53: 3: Float64Index([-99999.0, 0.0, 1.0], dtype='float64')
test_fe  : Field_53: 3: Float64Index([-99999.0, 0.0, 1.0], dtype='float64')
train_fe : Field_54: 50: CategoricalIndex(['nan', 'vn', 'tw', 'kr', 'jp', 'cn', 'cz'], categories=['01', '1', 'ad', 'ae', 'af', 'an', 'as', 'au', ...], ordered=False, dtype='category')
test_fe  : Field_54: 50: CategoricalIndex(['nan', 'vn', 'tw', 'kr', 'cn', 'jp', 'cz'], categories=['01', '1', 'ad', 'ae', 'af', 'an', 'as', 'au', ...], ordered=False, dtype='category')
train_fe : Field_55: 236: CategoricalIndex(['nan', 'yn', 'bi', 'ta', 'bo', 'tz', 'tf'], categories=['a2', 'a6', 'a9', 'aa', 'ab', 'ac', 'ad', 'ah', ...], ordered=False, dtype='category')
test_fe  : Field_55: 236: CategoricalIndex(['nan', 'yn', 'bi', 'ta', 'bo', 'tz', 'te'], categories=['a2', 'a6', 'a9', 'aa', 'ab', 'ac', 'ad', 'ah', ...], ordered=False, dtype='category')
train_fe : Field_58: 6: Float64Index([-99999.0, 0.0, 5.0, 2.0, 4.0, 3.0], dtype='float64')
test_fe  : Field_58: 6: Float64Index([-99999.0, 0.0, 5.0, 2.0, 4.0, 3.0], dtype='float64')
train_fe : Field_59: 36: Float64Index([-99999.0, 5.0, 4.0, 33.0, 6.0, 35.0, 3.0], dtype='float64')
test_fe  : Field_59: 33: Float64Index([-99999.0, 5.0, 4.0, 33.0, 6.0, 35.0, 3.0], dtype='float64')
train_fe : Field_60: 35: Float64Index([-99999.0, 3.0, 2.0, 31.0, 4.0, 33.0, 1.0], dtype='float64')
test_fe  : Field_60: 33: Float64Index([-99999.0, 3.0, 2.0, 31.0, 4.0, 33.0, 1.0], dtype='float64')
train_fe : Field_62: 6: Float64Index([-99999.0, 1.0, 5.0, 2.0, 4.0, 3.0], dtype='float64')
test_fe  : Field_62: 6: Float64Index([-99999.0, 1.0, 5.0, 2.0, 4.0, 3.0], dtype='float64')
train_fe : Field_63: 11: Float64Index([-99999.0, 2.0, 3.0, 4.0, 8.0, 0.0, 5.0], dtype='float64')
test_fe  : Field_63: 11: Float64Index([-99999.0, 2.0, 3.0, 4.0, 8.0, 0.0, 5.0], dtype='float64')
train_fe : Field_64: 10: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 7.0, 5.0], dtype='float64')
test_fe  : Field_64: 10: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 7.0, 5.0], dtype='float64')
train_fe : Field_65: 11: CategoricalIndex(['nan', 'vùng 1', 'vùng 2', 'vùng 3', 'vùng 4',
                  'dn đầu tư nn (vùng 1 có đt) {01->09, 15}',
                  'dn đầu tư nn (vùng 2 có đt) {10->14, 16, 19->23, 25, 29}'],
                 categories=['5', 'dn tư nhân', 'dn đầu tư nn (vùng 1 có đt) {01->09, 15}', 'dn đầu tư nn (vùng 2 có đt) {10->14, 16, 19->23, 25, 29}', 'dn đầu tư nn (vùng 3 có đt) {17, 18, 24, 26->28}', 'dn đầu tư nn (vùng 4 có đt)', 'nan', 'vùng 1', ...], ordered=False, dtype='category')
test_fe  : Field_65: 11: CategoricalIndex(['nan', 'vùng 1', 'vùng 2', 'vùng 3', 'vùng 4',
                  'dn đầu tư nn (vùng 1 có đt) {01->09, 15}',
                  'dn đầu tư nn (vùng 2 có đt) {10->14, 16, 19->23, 25, 29}'],
                 categories=['5', 'dn tư nhân', 'dn đầu tư nn (vùng 1 có đt) {01->09, 15}', 'dn đầu tư nn (vùng 2 có đt) {10->14, 16, 19->23, 25, 29}', 'dn đầu tư nn (vùng 3 có đt) {17, 18, 24, 26->28}', 'dn đầu tư nn (vùng 4 có đt)', 'nan', 'vùng 1', ...], ordered=False, dtype='category')
train_fe : Field_66: 9: CategoricalIndex(['nan', 'd', 'c', 'g', 'e', 'f', 'b'], categories=['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', ...], ordered=False, dtype='category')
test_fe  : Field_66: 9: CategoricalIndex(['nan', 'd', 'c', 'g', 'e', 'f', 'b'], categories=['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', ...], ordered=False, dtype='category')
train_fe : Field_67: 14431: Float64Index([-99999.0, 776953.0, 67129.0, 470954.0, 644004.0, 658535.0,
              329951.0],
             dtype='float64')
test_fe  : Field_67: 6583: Float64Index([-99999.0, 776953.0, 470954.0, 67129.0, 644004.0, 329951.0,
              646653.0],
             dtype='float64')
train_fe : maCv: 14: CategoricalIndex(['nan', 'nv', 'cn', 'ql', 'gv', 'ktv', 'cb'], categories=['bs', 'cb', 'cn', 'dv-cs', 'gv', 'gđ', 'hs', 'kd', ...], ordered=False, dtype='category')
test_fe  : maCv: 14: CategoricalIndex(['nan', 'nv', 'cn', 'ql', 'gv', 'ktv', 'cb'], categories=['bs', 'cb', 'cn', 'dv-cs', 'gv', 'gđ', 'hs', 'kd', ...], ordered=False, dtype='category')
train_fe : Field_69: 102: Float64Index([-99999.0, 0.0, 0.01, 1.0, 0.02, 0.04, 0.03], dtype='float64')
test_fe  : Field_69: 102: Float64Index([-99999.0, 0.0, 0.01, 1.0, 0.03, 0.02, 0.04], dtype='float64')
train_fe : Field_70: 51: Float64Index([-99999.0, 0.08, 0.12, 0.49, 0.6, 0.62, 0.35], dtype='float64')
test_fe  : Field_70: 51: Float64Index([-99999.0, 0.08, 0.12, 0.49, 0.6, 0.35, 0.62], dtype='float64')
train_fe : Field_71: 322: Float64Index([-99999.0, 0.06, 0.245, 0.04, 0.195, 0.175, 0.14], dtype='float64')
test_fe  : Field_71: 243: Float64Index([-99999.0, 0.245, 0.06, 0.04, 0.195, 0.26, 0.175], dtype='float64')
train_fe : Field_72: 497: Float64Index([-99999.0, 0.12, 0.49, 0.08, 0.39, 0.28, 0.35], dtype='float64')
test_fe  : Field_72: 229: Float64Index([-99999.0, 0.12, 0.49, 0.08, 0.39, 0.33, 0.35], dtype='float64')
train_fe : Field_73: 3: Float64Index([1.0, -99999.0, 0.0], dtype='float64')
test_fe  : Field_73: 3: Float64Index([1.0, -99999.0, 0.0], dtype='float64')
train_fe : Field_74: 490: Float64Index([-99999.0, 347.0, 340.0, 1436.0, 342.0, 337.0, 335.0], dtype='float64')
test_fe  : Field_74: 441: Float64Index([-99999.0, 702.0, 347.0, 4016.0, 342.0, 709.0, 3990.0], dtype='float64')
train_fe : Field_75: 15: Float64Index([-99999.0, 4.0, 3.0, 5.0, 1.0, 2.0, 6.0], dtype='float64')
test_fe  : Field_75: 15: Float64Index([-99999.0, 4.0, 3.0, 5.0, 1.0, 2.0, 6.0], dtype='float64')
train_fe : Field_76: 12: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
test_fe  : Field_76: 11: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
train_fe : Field_77: 16: Float64Index([-99999.0, 4.0, 1.0, 3.0, 2.0, 5.0, 6.0], dtype='float64')
test_fe  : Field_77: 16: Float64Index([-99999.0, 4.0, 1.0, 3.0, 2.0, 5.0, 6.0], dtype='float64')
train_fe : friendCount: 2932: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
test_fe  : friendCount: 2172: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 8.0], dtype='float64')
train_fe : subscriberCount: 1525: Float64Index([-99999.0, 13.0, 47.0, 30.0, 65.0, 84.0, 17.0], dtype='float64')
test_fe  : subscriberCount: 1016: Float64Index([-99999.0, 72.0, 44.0, 35.0, 18.0, 14.0, 26.0], dtype='float64')
train_fe : currentLocationLocationId: 914: Float64Index([         -99999.0, 108458769184495.0, 106388046062960.0,
              111711568847056.0, 105667452800809.0, 114668461883395.0,
              351759091676222.0],
             dtype='float64')
test_fe  : currentLocationLocationId: 526: Float64Index([         -99999.0, 108459000000000.0, 106388000000000.0,
              111712000000000.0, 114668000000000.0, 105667000000000.0,
              103999000000000.0],
             dtype='float64')
train_fe : currentLocationLatitude: 679: Float64Index([-99999.0, 10.77, 21.0333, 16.0678, 19.8075, 20.8523, 10.9399], dtype='float64')
test_fe  : currentLocationLatitude: 426: Float64Index([-99999.0, 10.77, 21.0333, 16.0678, 20.8523, 19.8075, 21.5839], dtype='float64')
train_fe : currentLocationLongitude: 589: Float64Index([-99999.0, 106.6815, 105.85, 108.221, 105.77600000000001,
              106.7005, 106.868],
             dtype='float64')
test_fe  : currentLocationLongitude: 379: Float64Index([-99999.0, 106.6815, 105.85, 108.221, 106.7005,
              105.77600000000001, 105.83],
             dtype='float64')
train_fe : homeTownLocationId: 931: Float64Index([         -99999.0, 106388046062960.0, 108458769184495.0,
              105667452800809.0, 114668461883395.0, 109167735769857.0,
              107983352568918.0],
             dtype='float64')
test_fe  : homeTownLocationId: 650: Float64Index([         -99999.0, 106388000000000.0, 108459000000000.0,
              105667000000000.0, 114668000000000.0, 103999000000000.0,
              109311000000000.0],
             dtype='float64')
train_fe : homeTownLatitude: 642: Float64Index([-99999.0, 21.0333, 10.77, 19.8075, 20.8523, 21.2825, 21.1723], dtype='float64')
test_fe  : homeTownLatitude: 502: Float64Index([-99999.0, 21.0333, 10.77, 19.8075, 20.8523, 21.5839, 20.45], dtype='float64')
train_fe : homeTownLongitude: 521: Float64Index([          -99999.0,             105.85,           106.6815,
              105.77600000000001,           106.7005,            106.333,
              106.20100000000001],
             dtype='float64')
test_fe  : homeTownLongitude: 402: Float64Index([-99999.0, 105.85, 106.6815, 105.77600000000001, 106.7005,
              106.333, 105.83],
             dtype='float64')
train_fe : data.basic_info.locale: 28: CategoricalIndex(['nan', 'vi_vn', 'en_us', 'zh_tw', 'en_gb', 'es_la', 'pt_br'], categories=['_vn', 'af_za', 'ar_ar', 'cb_iq', 'cs_cz', 'cy_gb', 'de_de', 'en_gb', ...], ordered=False, dtype='category')
test_fe  : data.basic_info.locale: 28: CategoricalIndex(['nan', 'vi_vn', 'en_us', 'zh_tw', 'en_gb', 'es_la', 'pt_br'], categories=['_vn', 'af_za', 'ar_ar', 'cb_iq', 'cs_cz', 'cy_gb', 'de_de', 'en_gb', ...], ordered=False, dtype='category')
train_fe : currentLocationCountry: 52: CategoricalIndex(['nan', 'vietnam', 'united states', 'japan', 'south korea',
                  'china', 'taiwan'],
                 categories=['angola', 'argentina', 'australia', 'bangladesh', 'bulgaria', 'cambodia', 'canada', 'china', ...], ordered=False, dtype='category')
test_fe  : currentLocationCountry: 52: CategoricalIndex(['nan', 'vietnam', 'united states', 'japan', 'malaysia',
                  'south korea', 'united kingdom'],
                 categories=['angola', 'argentina', 'australia', 'bangladesh', 'bulgaria', 'cambodia', 'canada', 'china', ...], ordered=False, dtype='category')
train_fe : currentLocationState: 236: CategoricalIndex(['nan', 'ho chi minh city', 'hanoi', 'đồng nai province',
                  'haiphong', 'da nang', 'thanh hóa province'],
                 categories=['abu dhabi', 'aichi prefecture', 'ailinglaplap atoll', 'akershus', 'alabama', 'an giang province', 'antioquia', 'arizona', ...], ordered=False, dtype='category')
test_fe  : currentLocationState: 236: CategoricalIndex(['nan', 'ho chi minh city', 'hanoi', 'đồng nai province',
                  'da nang', 'haiphong', 'thanh hóa province'],
                 categories=['abu dhabi', 'aichi prefecture', 'ailinglaplap atoll', 'akershus', 'alabama', 'an giang province', 'antioquia', 'arizona', ...], ordered=False, dtype='category')
train_fe : homeTownCountry: 45: CategoricalIndex(['nan', 'vietnam', 'united states', 'malaysia', 'south korea',
                  'china', 'united kingdom'],
                 categories=['angola', 'australia', 'bahrain', 'bangladesh', 'cambodia', 'china', 'czech republic', 'democratic republic of the congo', ...], ordered=False, dtype='category')
test_fe  : homeTownCountry: 45: CategoricalIndex(['nan', 'vietnam', 'united states', 'china', 'malaysia',
                  'south korea', 'united kingdom'],
                 categories=['angola', 'australia', 'bahrain', 'bangladesh', 'cambodia', 'china', 'czech republic', 'democratic republic of the congo', ...], ordered=False, dtype='category')
train_fe : homeTownState: 170: CategoricalIndex(['nan', 'hanoi', 'ho chi minh city', 'thanh hóa province',
                  'nghệ an province', 'đồng nai province', 'haiphong'],
                 categories=['abu dhabi', 'an giang province', 'arizona', 'bandundu', 'bangkok', 'barisal division', 'beijing', 'berlin', ...], ordered=False, dtype='category')
test_fe  : homeTownState: 170: CategoricalIndex(['nan', 'hanoi', 'ho chi minh city', 'thanh hóa province',
                  'nghệ an province', 'haiphong', 'đồng nai province'],
                 categories=['abu dhabi', 'an giang province', 'arizona', 'bandundu', 'bangkok', 'barisal division', 'beijing', 'berlin', ...], ordered=False, dtype='category')
train_fe : topFriends: 6: Float64Index([-99999.0, 5.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
test_fe  : topFriends: 6: Float64Index([-99999.0, 5.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
train_fe : numOrg: 20: Float64Index([2.0, 3.0, 4.0, 1.0, 0.0, 5.0, -99999.0], dtype='float64')
test_fe  : numOrg: 20: Float64Index([1.0, 2.0, -99999.0, 0.0, 3.0, 4.0, 5.0], dtype='float64')
train_fe : F_numOrg: 7: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
test_fe  : F_numOrg: 7: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
train_fe : F_numQuery: 16: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
test_fe  : F_numQuery: 14: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
train_fe : E_numOrg: 8: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
test_fe  : E_numOrg: 7: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
train_fe : E_numQuery: 16: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
test_fe  : E_numQuery: 57: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
train_fe : C_numOrg: 4: Float64Index([-99999.0, 1.0, 2.0, 3.0], dtype='float64')
test_fe  : C_numOrg: 4: Float64Index([-99999.0, 1.0, 2.0, 3.0], dtype='float64')
train_fe : C_numQuery: 77: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
test_fe  : C_numQuery: 70: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
train_fe : G_numOrg: 5: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
test_fe  : G_numOrg: 6: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
train_fe : G_numQuery: 11: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
test_fe  : G_numQuery: 12: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
train_fe : A_numOrg: 15: Float64Index([-99999.0, 2.0, 3.0, 1.0, 4.0, 5.0, 6.0], dtype='float64')
test_fe  : A_numOrg: 17: Float64Index([-99999.0, 2.0, 1.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
train_fe : A_numQuery: 37: Float64Index([-99999.0, 2.0, 3.0, 1.0, 4.0, 5.0, 6.0], dtype='float64')
test_fe  : A_numQuery: 39: Float64Index([-99999.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')

train_fe : summary_6m: 104: Float64Index([-99999.0, 1.0, 2.0, 7.0, 8.0, 6.0, 3.0], dtype='float64')
test_fe  : summary_6m: 120: Float64Index([-99999.0, 2.0, 1.0, 3.0, 8.0, 7.0, 5.0], dtype='float64')
train_fe : summary_3m: 95: Float64Index([-99999.0, 1.0, 2.0, 7.0, 6.0, 5.0, 8.0], dtype='float64')
test_fe  : summary_3m: 118: Float64Index([-99999.0, 2.0, 1.0, 3.0, 8.0, 5.0, 6.0], dtype='float64')
train_fe : summary_1m: 81: Float64Index([-99999.0, 1.0, 2.0, 5.0, 6.0, 7.0, 3.0], dtype='float64')
test_fe  : summary_1m: 110: Float64Index([-99999.0, 2.0, 1.0, 3.0, 5.0, 8.0, 4.0], dtype='float64')
train_fe : summary_1w: 52: Float64Index([-99999.0, 1.0, 2.0, 5.0, 6.0, 3.0, 4.0], dtype='float64')
test_fe  : summary_1w: 64: Float64Index([-99999.0, 1.0, 2.0, 5.0, 3.0, 4.0, 6.0], dtype='float64')
train_fe : partner0_A: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner0_A: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner0_B: 2: Float64Index([0.0, -99999.0], dtype='float64')
test_fe  : partner0_B: 2: Float64Index([0.0, -99999.0], dtype='float64')
train_fe : partner0_C: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner0_C: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner0_D: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner0_D: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner0_E: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner0_E: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner0_F: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner0_F: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner0_G: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner0_G: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner0_H: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner0_H: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner1_A: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner1_A: 3: Float64Index([1.0, 0.0, -99999.0], dtype='float64')
train_fe : partner1_C: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner1_C: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
train_fe : partner1_G: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner1_G: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner1_H: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner1_H: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
train_fe : partner2_A: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner2_A: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
train_fe : partner2_C: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner2_C: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
train_fe : partner2_D: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner2_D: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
train_fe : partner2_F: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner2_F: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
train_fe : partner2_H: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner2_H: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
train_fe : partner3_A: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner3_A: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner3_D: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner3_D: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner3_E: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner3_E: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
train_fe : partner4_L: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner4_L: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner5_A: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
test_fe  : partner5_A: 3: Float64Index([0.0, 1.0, -99999.0], dtype='float64')
train_fe : partner5_D: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner5_D: 2: Float64Index([0.0, -99999.0], dtype='float64')
train_fe : partner5_G: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
test_fe  : partner5_G: 3: Float64Index([0.0, -99999.0, 1.0], dtype='float64')
train_fe : brief: 21: CategoricalIndex(['0', '1', '2', 'notfound', '3', '2cy', '4'], categories=['0', '1', '1cy', '2', '2cy', '3', '3cy', '4', ...], ordered=False, dtype='category')
test_fe  : brief: 21: CategoricalIndex(['1', '0', 'nan', '2', 'notfound', '3', '4'], categories=['0', '1', '1cy', '2', '2cy', '3', '3cy', '4', ...], ordered=False, dtype='category')
train_fe : num_of_phone: 6: Float64Index([1.0, 2.0, -99999.0, 3.0, 4.0, 5.0], dtype='float64')
test_fe  : num_of_phone: 6: Float64Index([1.0, 2.0, -99999.0, 3.0, 4.0, 5.0], dtype='float64')
train_fe : Field_78: 428: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
test_fe  : Field_78: 446: Float64Index([-99999.0, 0.0, 1.0, 2.0, 6.0, 5.0, 3.0], dtype='float64')
train_fe : Field_79: 11037: Float64Index([          -99999.0,                0.0, 0.7071067811865476,
              1.4142135623730951, 3.5355339059327378, 2.1213203435596424,
              2.8284271247461903],
             dtype='float64')
test_fe  : Field_79: 6062: Float64Index([          -99999.0,                0.0, 0.7071067809999999,
              1.4142135619999998,        2.121320344, 3.5355339060000004,
                     2.828427125],
             dtype='float64')
train_fe : Field_80: 2840: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 6.0], dtype='float64')
test_fe  : Field_80: 2633: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 5.0, 4.0], dtype='float64')
train_fe : Field_81: 422: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
test_fe  : Field_81: 443: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
train_fe : Field_82: 4: Int64Index([1, 4, 2, 3], dtype='int64')
test_fe  : Field_82: 4: Int64Index([1, 4, 3, 2], dtype='int64')
train_fe : Field_5Field_6: 645: Float64Index([-99999.0, 0.0, 183.0, -2.0, -8.0, -13.0, -5.0], dtype='float64')
test_fe  : Field_5Field_6: 456: Float64Index([-99999.0, 0.0, -20.0, -30.0, -2.0, 183.0, -33.0], dtype='float64')
train_fe : Field_1Field_2: 371: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
test_fe  : Field_1Field_2: 283: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 6.0], dtype='float64')
train_fe : Field_1Field_43: 1351: Float64Index([-99999.0, 0.0, -706.0, 234.0, -705.0, -707.0, -708.0], dtype='float64')
test_fe  : Field_1Field_43: 1206: Float64Index([-99999.0, 0.0, -706.0, -708.0, -704.0, -705.0, -707.0], dtype='float64')
train_fe : Field_1Field_44: 1925: Float64Index([-99999.0, 824.0, 267.0, 269.0, 265.0, 183.0, 273.0], dtype='float64')
test_fe  : Field_1Field_44: 1570: Float64Index([-99999.0, 265.0, 273.0, 182.0, 824.0, 183.0, 269.0], dtype='float64')
train_fe : Field_1Field_7: 1336: Float64Index([-99999.0, 5.0, 6.0, 4.0, 7.0, 3.0, 8.0], dtype='float64')
test_fe  : Field_1Field_7: 958: Float64Index([-99999.0, 5.0, 6.0, 4.0, 7.0, 3.0, 0.0], dtype='float64')
train_fe : Field_1Field_8: 1404: Float64Index([-99999.0, 369.0, 370.0, 368.0, 371.0, 367.0, 372.0], dtype='float64')
test_fe  : Field_1Field_8: 897: Float64Index([-99999.0, 369.0, 370.0, 368.0, 371.0, 367.0, 372.0], dtype='float64')
train_fe : Field_1Field_9: 1351: Float64Index([-99999.0, 0.0, 1.0, -7.0, -70.0, -62.0, -28.0], dtype='float64')
test_fe  : Field_1Field_9: 786: Float64Index([-99999.0, 0.0, 1.0, -7.0, -94.0, -344.0, -62.0], dtype='float64')
train_fe : Field_2Field_43: 1342: Float64Index([-99999.0, 0.0, 234.0, -706.0, -672.0, -705.0, -704.0], dtype='float64')
test_fe  : Field_2Field_43: 1195: Float64Index([-99999.0, 0.0, -672.0, -706.0, 234.0, -707.0, -705.0], dtype='float64')
train_fe : Field_2Field_44: 1936: Float64Index([-99999.0, 824.0, 0.0, 181.0, 182.0, 267.0, 180.0], dtype='float64')
test_fe  : Field_2Field_44: 1571: Float64Index([-99999.0, 182.0, 181.0, 0.0, 824.0, 184.0, 270.0], dtype='float64')
train_fe : Field_2Field_7: 1314: Float64Index([-99999.0, 4.0, 5.0, 6.0, -364.0, 1.0, -1.0], dtype='float64')
test_fe  : Field_2Field_7: 928: Float64Index([-99999.0, 4.0, 5.0, 6.0, -364.0, -1.0, 7.0], dtype='float64')
train_fe : Field_2Field_8: 1417: Float64Index([-99999.0, 0.0, 368.0, 369.0, 367.0, 370.0, 371.0], dtype='float64')
test_fe  : Field_2Field_8: 915: Float64Index([-99999.0, 0.0, 368.0, 369.0, 370.0, 367.0, 371.0], dtype='float64')
train_fe : Field_2Field_9: 1364: Float64Index([-99999.0, 0.0, -1.0, -2.0, -3.0, -4.0, -5.0], dtype='float64')
test_fe  : Field_2Field_9: 799: Float64Index([-99999.0, 0.0, -1.0, -2.0, -3.0, -4.0, -6.0], dtype='float64')
train_fe : Field_43Field_44: 1314: Float64Index([-99999.0, 824.0, 0.0, 944.0, 974.0, 720.0, 887.0], dtype='float64')
test_fe  : Field_43Field_44: 1142: Float64Index([-99999.0, 824.0, 0.0, 944.0, 720.0, 974.0, 976.0], dtype='float64')
train_fe : Field_43Field_7: 2087: Float64Index([-99999.0, 648.0, 456.0, 713.0, 655.0, 682.0, 711.0], dtype='float64')
test_fe  : Field_43Field_7: 1600: Float64Index([-99999.0, 648.0, 456.0, 713.0, 655.0, 669.0, 711.0], dtype='float64')
train_fe : Field_43Field_8: 2173: Float64Index([-99999.0, 1012.0, 820.0, 1077.0, 1033.0, 1074.0, 1019.0], dtype='float64')
test_fe  : Field_43Field_8: 1626: Float64Index([-99999.0, 1012.0, 820.0, 1033.0, 1077.0, 1019.0, 1074.0], dtype='float64')
train_fe : Field_43Field_9: 2525: Float64Index([-99999.0, 706.0, 705.0, 708.0, 704.0, 707.0, 710.0], dtype='float64')
test_fe  : Field_43Field_9: 1720: Float64Index([-99999.0, 706.0, 708.0, 705.0, 704.0, 707.0, 710.0], dtype='float64')
train_fe : Field_44Field_7: 2766: Float64Index([-99999.0, -176.0, -261.0, -272.0, -260.0, -266.0, -269.0], dtype='float64')
test_fe  : Field_44Field_7: 1838: Float64Index([-99999.0, -176.0, -261.0, -272.0, -260.0, -268.0, -265.0], dtype='float64')
train_fe : Field_44Field_8: 2911: Float64Index([-99999.0, 188.0, 92.0, 103.0, 96.0, 186.0, 104.0], dtype='float64')
test_fe  : Field_44Field_8: 1978: Float64Index([-99999.0, 188.0, 92.0, 103.0, 104.0, 96.0, 95.0], dtype='float64')
train_fe : Field_44Field_9: 2962: Float64Index([-99999.0, -267.0, -273.0, -269.0, -183.0, -265.0, -268.0], dtype='float64')
test_fe  : Field_44Field_9: 1952: Float64Index([-99999.0, -273.0, -265.0, -182.0, -267.0, -270.0, -268.0], dtype='float64')
train_fe : Field_7Field_8: 587: Float64Index([-99999.0, 364.0, 365.0, 358.0, 355.0, 730.0, 361.0], dtype='float64')
test_fe  : Field_7Field_8: 435: Float64Index([-99999.0, 364.0, 365.0, 355.0, 358.0, 730.0, 361.0], dtype='float64')
train_fe : Field_7Field_9: 653: Float64Index([-99999.0, -5.0, -4.0, -6.0, 0.0, -7.0, -3.0], dtype='float64')
test_fe  : Field_7Field_9: 561: Float64Index([-99999.0, -5.0, -4.0, -6.0, -7.0, 0.0, -3.0], dtype='float64')
train_fe : Field_8Field_9: 704: Float64Index([-99999.0, -369.0, -368.0, -370.0, -371.0, -367.0, -372.0], dtype='float64')
test_fe  : Field_8Field_9: 567: Float64Index([-99999.0, -369.0, -368.0, -370.0, -371.0, -367.0, -372.0], dtype='float64')
train_fe : F_startDateF_endDate: 185: Float64Index([-99999.0, 0.0, 1.0, 2.0, 31.0, 3.0, 32.0], dtype='float64')
test_fe  : F_startDateF_endDate: 223: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 7.0], dtype='float64')
train_fe : E_startDateE_endDate: 186: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 31.0, 32.0], dtype='float64')
test_fe  : E_startDateE_endDate: 220: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 6.0], dtype='float64')

train_fe : C_startDateC_endDate: 156: Float64Index([-99999.0, 0.0, 31.0, 1.0, 32.0, 30.0, 33.0], dtype='float64')
test_fe  : C_startDateC_endDate: 182: Float64Index([-99999.0, 0.0, 1.0, 2.0, 31.0, 3.0, 32.0], dtype='float64')
train_fe : G_startDateG_endDate: 158: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 8.0], dtype='float64')
test_fe  : G_startDateG_endDate: 208: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
train_fe : A_startDateA_endDate: 355: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 5.0, 4.0], dtype='float64')
test_fe  : A_startDateA_endDate: 378: Float64Index([-99999.0, 0.0, 1.0, 2.0, 3.0, 10.0, 5.0], dtype='float64')
train_fe : gender: 3: CategoricalIndex(['missing_gender', 'MALE', 'FEMALE'], categories=['FEMALE', 'MALE', 'missing_gender'], ordered=False, dtype='category')
test_fe  : gender: 3: CategoricalIndex(['missing_gender', 'MALE', 'FEMALE'], categories=['FEMALE', 'MALE', 'missing_gender'], ordered=False, dtype='category')
train_fe : Age: 72: Float64Index([-99999.0, 29.0, 30.0, 28.0, 27.0, 26.0, 31.0], dtype='float64')
test_fe  : Age: 55: Float64Index([-99999.0, 30.0, 28.0, 29.0, 27.0, 25.0, 31.0], dtype='float64')

In [25]:
train_fe.Field_10.value_counts()

-99999.0    27466
 1.0        23354
 2.0         1978
 3.0          201
 4.0           26
 5.0            3
 0.0            2
Name: Field_10, dtype: int64

In [26]:
test_fe.Field_10.value_counts()

-99999.0    11321
 1.0         8224
 2.0          767
 3.0           60
 4.0            8
 5.0            1
Name: Field_10, dtype: int64

In [27]:
data_version = "02-01-2021-v3"

In [28]:
os.makedirs(f"../../data/kalapa/{data_version}/", exist_ok=True)
df_train.to_csv(f"../../data/kalapa/{data_version}/train.csv", index = False)
test_fe.to_csv(f"../../data/kalapa/{data_version}/test.csv", index = False)