In [1]:
import pandas as pd
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score
import lightgbm as lgb
import numpy as np

In [2]:
data_version = "02-01-2021-v6"

In [3]:
df_train = pd.read_csv(f"../../data/kalapa/{data_version}/train.csv")
df_test = pd.read_csv(f"../../data/kalapa/{data_version}/test.csv")

In [4]:
df_train

,id,label,Field_3,Field_4,Field_10,Field_12,Field_13,Field_18,Field_19,Field_20,...,Field_7Field_8,Field_7Field_9,Field_8Field_9,F_startDateF_endDate,E_startDateE_endDate,C_startDateC_endDate,G_startDateG_endDate,A_startDateA_endDate,gender,Age
0,0,1,1.0,gh,1.0,g8,1,trung tâm kinh doanh tiền mặt,0.0,4258600.0,...,211.0,-5.0,-216.0,-99999.0,-99999.0,-99999.0,-99999.0,67.0,MALE,29.0
1,1,0,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,missing_gender,-99999.0
2,2,0,2.0,t1,1.0,NaN,1,NaN,0.0,5000000.0,...,364.0,16.0,-348.0,0.0,24.0,-99999.0,-99999.0,47.0,FEMALE,22.0
3,3,0,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,missing_gender,-99999.0
4,4,1,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,missing_gender,-99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53025,53025,0,1.0,gh,1.0,NaN,1,NaN,1.0,1490000.0,...,365.0,-8.0,-373.0,0.0,0.0,0.0,-99999.0,202.0,FEMALE,32.0
53026,53026,0,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,52.0,missing_gender,-99999.0
53027,53027,0,2.0,t1,1.0,g8,1,36493assyd,0.0,4015000.0,...,327.0,196.0,-131.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,FEMALE,32.0
53028,53028,0,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,missing_gender,-99999.0
53029,53029,0,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,0.0,2.0,-99999.0,0.0,65.0,missing_gender,-99999.0

In [6]:
y = df_train.label
train = df_train.drop(["label"], axis = 1)

In [7]:
def gini(y_true, y_score):
    return roc_auc_score(y_true, y_score)*2 - 1

def lgb_gini(y_pred, dataset_true):
    y_true = dataset_true.get_label()
    return 'gini', gini(y_true, y_pred), True

In [8]:
def to_category(df_fe):
    for col in cols:
        if df_fe[col].dtype.name == "object":
            df_fe[col] = df_fe[col].astype('category')
    return df_fe

In [9]:
cols = df_train.iloc[:,2:].columns
train = to_category(train)
test = to_category(df_test)
col2 = []
for col in cols:
    vc = train[col].value_counts()
    if len(vc) <= 3:
        col2.append(col)
        train[col] = train[col].astype('category')
for col in col2:
    test[col] = test[col].astype('category')

In [10]:
lgbm_param = {'boosting_type': 'gbdt',\
              'colsample_bytree': 0.6602479798930369, \
              'is_unbalance': False, \
              'learning_rate': 0.00746275526696824, \
              'max_depth': 15, \
              'metric': 'auc', \
              'min_child_samples': 25, \
              'num_leaves': 60, \
              'objective': 'binary', \
              'reg_alpha': 0.4693391197064131, \
              'reg_lambda': 0.16175478669541327, \
              'subsample_for_bin': 60000}

In [11]:
NUM_BOOST_ROUND= 10000

In [12]:
def kfold(train_fe,y_label,test_fe):
    seeds = np.random.randint(0, 10000, 1)
    preds = 0    
    feature_important = None
    avg_train_gini = 0
    avg_val_gini = 0

    for s in seeds:
        skf = StratifiedKFold(n_splits=5, random_state = 6484, shuffle=True)        
        lgbm_param['random_state'] = 6484    
        seed_train_gini = 0
        seed_val_gini = 0
        for i, (train_idx, val_idx) in enumerate(skf.split(np.zeros(len(y_label)), y_label)):                
            X_train, X_val = train_fe.iloc[train_idx].drop(["id"], 1), train_fe.iloc[val_idx].drop(["id"], 1)                
            y_train, y_val = y_label[train_idx], y_label[val_idx]

            lgb_train = lgb.Dataset(X_train, y_train)
            lgb_eval  = lgb.Dataset(X_val, y_val)

            evals_result = {} 
            model = lgb.train(lgbm_param,
                        lgb_train,
                        num_boost_round=NUM_BOOST_ROUND,  
                        early_stopping_rounds=400,
                        feval=lgb_gini,
                        verbose_eval= 200,
                        evals_result=evals_result,
                        valid_sets=[lgb_train, lgb_eval])

            seed_train_gini += model.best_score["training"]["gini"] / skf.n_splits
            seed_val_gini += model.best_score["valid_1"]["gini"] / skf.n_splits

            avg_train_gini += model.best_score["training"]["gini"] / (len(seeds) * skf.n_splits)
            avg_val_gini += model.best_score["valid_1"]["gini"] / (len(seeds) * skf.n_splits)

            if feature_important is None:
                feature_important = model.feature_importance() / (len(seeds) * skf.n_splits)
            else:
                feature_important += model.feature_importance() / (len(seeds) * skf.n_splits)        

            pred = model.predict(test_fe.drop(["id"], 1))
            preds += pred / (skf.n_splits * len(seeds))

            print("Fold {}: {}/{}".format(i, model.best_score["training"]["gini"], model.best_score["valid_1"]["gini"]))
        print("Seed {}: {}/{}".format(s, seed_train_gini, seed_val_gini))

    print("-" * 30)
    print("Avg train gini: {}".format(avg_train_gini))
    print("Avg valid gini: {}".format(avg_val_gini))
    print("=" * 30)
    return preds

In [13]:
preds = kfold(train, y, test)

Training until validation scores don't improve for 400 rounds
[200]	training's auc: 0.776093	training's gini: 0.552185	valid_1's auc: 0.734756	valid_1's gini: 0.469513
[400]	training's auc: 0.799804	training's gini: 0.599609	valid_1's auc: 0.741512	valid_1's gini: 0.483023
[600]	training's auc: 0.821082	training's gini: 0.642164	valid_1's auc: 0.743951	valid_1's gini: 0.487901
[800]	training's auc: 0.840003	training's gini: 0.680005	valid_1's auc: 0.745462	valid_1's gini: 0.490925
[1000]	training's auc: 0.855501	training's gini: 0.711001	valid_1's auc: 0.746179	valid_1's gini: 0.492358
[1200]	training's auc: 0.868135	training's gini: 0.736269	valid_1's auc: 0.746693	valid_1's gini: 0.493387
[1400]	training's auc: 0.878805	training's gini: 0.75761	valid_1's auc: 0.747079	valid_1's gini: 0.494158
[1600]	training's auc: 0.888098	training's gini: 0.776197	valid_1's auc: 0.747101	valid_1's gini: 0.494201
[1800]	training's auc: 0.896315	training's gini: 0.79263	valid_1's auc: 0.74744	valid_1's gini: 0.494881
[2000]	training's auc: 0.903492	training's gini: 0.806984	valid_1's auc: 0.74738	valid_1's gini: 0.494759
[2200]	training's auc: 0.910064	training's gini: 0.820129	valid_1's auc: 0.7472	valid_1's gini: 0.494401
Early stopping, best iteration is:
[1920]	training's auc: 0.90075	training's gini: 0.8015	valid_1's auc: 0.747474	valid_1's gini: 0.494947
Fold 0: 0.8014997777770749/0.49494700688721527
Training until validation scores don't improve for 400 rounds
[200]	training's auc: 0.775013	training's gini: 0.550027	valid_1's auc: 0.726744	valid_1's gini: 0.453487
[400]	training's auc: 0.798617	training's gini: 0.597235	valid_1's auc: 0.736763	valid_1's gini: 0.473526
[600]	training's auc: 0.820219	training's gini: 0.640437	valid_1's auc: 0.741263	valid_1's gini: 0.482525
[800]	training's auc: 0.838596	training's gini: 0.677193	valid_1's auc: 0.743413	valid_1's gini: 0.486827
[1000]	training's auc: 0.85356	training's gini: 0.707121	valid_1's auc: 0.745121	valid_1's gini: 0.490241
[1200]	training's auc: 0.866046	training's gini: 0.732093	valid_1's auc: 0.746231	valid_1's gini: 0.492463
[1400]	training's auc: 0.876797	training's gini: 0.753594	valid_1's auc: 0.747058	valid_1's gini: 0.494117
[1600]	training's auc: 0.886007	training's gini: 0.772014	valid_1's auc: 0.747602	valid_1's gini: 0.495204
[1800]	training's auc: 0.894117	training's gini: 0.788234	valid_1's auc: 0.747743	valid_1's gini: 0.495486
[2000]	training's auc: 0.90135	training's gini: 0.8027	valid_1's auc: 0.748065	valid_1's gini: 0.496129
[2200]	training's auc: 0.907505	training's gini: 0.815009	valid_1's auc: 0.748396	valid_1's gini: 0.496792
[2400]	training's auc: 0.913289	training's gini: 0.826578	valid_1's auc: 0.748745	valid_1's gini: 0.49749
[2600]	training's auc: 0.918573	training's gini: 0.837146	valid_1's auc: 0.749009	valid_1's gini: 0.498019
[2800]	training's auc: 0.923489	training's gini: 0.846979	valid_1's auc: 0.749063	valid_1's gini: 0.498125
[3000]	training's auc: 0.927937	training's gini: 0.855875	valid_1's auc: 0.749272	valid_1's gini: 0.498544
[3200]	training's auc: 0.931788	training's gini: 0.863575	valid_1's auc: 0.749532	valid_1's gini: 0.499064
[3400]	training's auc: 0.935438	training's gini: 0.870877	valid_1's auc: 0.749568	valid_1's gini: 0.499136
[3600]	training's auc: 0.938911	training's gini: 0.877822	valid_1's auc: 0.749567	valid_1's gini: 0.499135
[3800]	training's auc: 0.942052	training's gini: 0.884104	valid_1's auc: 0.749642	valid_1's gini: 0.499283
Early stopping, best iteration is:
[3522]	training's auc: 0.937589	training's gini: 0.875177	valid_1's auc: 0.749666	valid_1's gini: 0.499332
Fold 1: 0.8751773688656148/0.4993315647792662
Training until validation scores don't improve for 400 rounds
[200]	training's auc: 0.773443	training's gini: 0.546887	valid_1's auc: 0.745209	valid_1's gini: 0.490419
[400]	training's auc: 0.797519	training's gini: 0.595038	valid_1's auc: 0.751465	valid_1's gini: 0.50293
[600]	training's auc: 0.819435	training's gini: 0.638871	valid_1's auc: 0.754612	valid_1's gini: 0.509223
[800]	training's auc: 0.838305	training's gini: 0.676609	valid_1's auc: 0.756025	valid_1's gini: 0.51205
[1000]	training's auc: 0.853729	training's gini: 0.707457	valid_1's auc: 0.756868	valid_1's gini: 0.513737
[1200]	training's auc: 0.866371	training's gini: 0.732742	valid_1's auc: 0.757241	valid_1's gini: 0.514482
[1400]	training's auc: 0.877154	training's gini: 0.754308	valid_1's auc: 0.757347	valid_1's gini: 0.514694
[1600]	training's auc: 0.88635	training's gini: 0.7727	valid_1's auc: 0.757568	valid_1's gini: 0.515137
[1800]	training's auc: 0.894742	training's gini: 0.789484	valid_1's auc: 0.757542	valid_1's gini: 0.515083
[2000]	training's auc: 0.902012	training's gini: 0.804023	valid_1's auc: 0.757414	valid_1's gini: 0.514829
[2200]	training's auc: 0.9084	training's gini: 0.816801	valid_1's auc: 0.757179	valid_1's gini: 0.514357
Early stopping, best iteration is:
[1891]	training's auc: 0.898223	training's gini: 0.796446	valid_1's auc: 0.757604	valid_1's gini: 0.515209
Fold 2: 0.7964464026351805/0.5152089912229441
Training until validation scores don't improve for 400 rounds
[200]	training's auc: 0.774363	training's gini: 0.548726	valid_1's auc: 0.737378	valid_1's gini: 0.474756
[400]	training's auc: 0.799008	training's gini: 0.598016	valid_1's auc: 0.742253	valid_1's gini: 0.484506
[600]	training's auc: 0.820596	training's gini: 0.641191	valid_1's auc: 0.743942	valid_1's gini: 0.487885
[800]	training's auc: 0.839323	training's gini: 0.678646	valid_1's auc: 0.744962	valid_1's gini: 0.489925
[1000]	training's auc: 0.854499	training's gini: 0.708997	valid_1's auc: 0.745652	valid_1's gini: 0.491303
[1200]	training's auc: 0.867019	training's gini: 0.734038	valid_1's auc: 0.745698	valid_1's gini: 0.491397
[1400]	training's auc: 0.87797	training's gini: 0.75594	valid_1's auc: 0.745755	valid_1's gini: 0.491511
[1600]	training's auc: 0.887519	training's gini: 0.775038	valid_1's auc: 0.745941	valid_1's gini: 0.491882
[1800]	training's auc: 0.895503	training's gini: 0.791006	valid_1's auc: 0.745909	valid_1's gini: 0.491817
[2000]	training's auc: 0.902533	training's gini: 0.805065	valid_1's auc: 0.745953	valid_1's gini: 0.491905
[2200]	training's auc: 0.908797	training's gini: 0.817593	valid_1's auc: 0.745997	valid_1's gini: 0.491994
[2400]	training's auc: 0.914486	training's gini: 0.828971	valid_1's auc: 0.746087	valid_1's gini: 0.492174
[2600]	training's auc: 0.919882	training's gini: 0.839764	valid_1's auc: 0.745987	valid_1's gini: 0.491975
[2800]	training's auc: 0.924574	training's gini: 0.849148	valid_1's auc: 0.745748	valid_1's gini: 0.491495
Early stopping, best iteration is:
[2407]	training's auc: 0.914692	training's gini: 0.829384	valid_1's auc: 0.746146	valid_1's gini: 0.492292
Fold 3: 0.8293836641692927/0.49229199274870106
Training until validation scores don't improve for 400 rounds
[200]	training's auc: 0.775195	training's gini: 0.550391	valid_1's auc: 0.735681	valid_1's gini: 0.471361
[400]	training's auc: 0.799786	training's gini: 0.599571	valid_1's auc: 0.742454	valid_1's gini: 0.484908
[600]	training's auc: 0.821145	training's gini: 0.64229	valid_1's auc: 0.744739	valid_1's gini: 0.489477
[800]	training's auc: 0.83991	training's gini: 0.679821	valid_1's auc: 0.746033	valid_1's gini: 0.492066
[1000]	training's auc: 0.855456	training's gini: 0.710913	valid_1's auc: 0.746803	valid_1's gini: 0.493605
[1200]	training's auc: 0.868562	training's gini: 0.737123	valid_1's auc: 0.747183	valid_1's gini: 0.494367
[1400]	training's auc: 0.879317	training's gini: 0.758635	valid_1's auc: 0.7474	valid_1's gini: 0.494799
[1600]	training's auc: 0.888743	training's gini: 0.777485	valid_1's auc: 0.747671	valid_1's gini: 0.495341
[1800]	training's auc: 0.896948	training's gini: 0.793896	valid_1's auc: 0.747784	valid_1's gini: 0.495569
[2000]	training's auc: 0.904162	training's gini: 0.808324	valid_1's auc: 0.747937	valid_1's gini: 0.495873
[2200]	training's auc: 0.910515	training's gini: 0.821031	valid_1's auc: 0.747821	valid_1's gini: 0.495642
Early stopping, best iteration is:
[1933]	training's auc: 0.901798	training's gini: 0.803595	valid_1's auc: 0.747988	valid_1's gini: 0.495977

Fold 4: 0.8035950470944138/0.49597683869803455
Seed 1379: 0.8212204521083153/0.4995512788672322
------------------------------
Avg train gini: 0.8212204521083153
Avg valid gini: 0.4995512788672322
==============================

In [14]:
"""
preds2 = preds
for i in range(len(preds)):
    if preds[i] >= 0.5:
        preds2[i] = 1
    else:
        preds2[i] = 0
"""
new_label = pd.DataFrame(preds, columns = ["label"])

In [15]:
new_data = pd.concat([df_test.id, new_label,df_test.iloc[:,1:]], axis = 1)

In [17]:
new_data

,id,label,Field_3,Field_4,Field_10,Field_12,Field_13,Field_18,Field_19,Field_20,...,Field_7Field_8,Field_7Field_9,Field_8Field_9,F_startDateF_endDate,E_startDateE_endDate,C_startDateC_endDate,G_startDateG_endDate,A_startDateA_endDate,gender,Age
0,53030,0.253576,2.0,t1,1.0,NaN,1,NaN,0.000,1490000.0,...,365.0,-28.0,-393.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,MALE,25.0
1,53031,0.455351,2.0,t1,1.0,NaN,1,NaN,0.000,1043000.0,...,365.0,-4.0,-369.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,MALE,28.0
2,53032,0.405164,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.000,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,missing_gender,-99999.0
3,53033,0.131885,2.0,t1,1.0,NaN,1,NaN,0.000,1490000.0,...,365.0,-25.0,-390.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,FEMALE,24.0
4,53034,0.109781,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.000,-99999.0,...,-99999.0,-99999.0,-99999.0,0.0,0.0,0.0,0.0,51.0,missing_gender,-99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20376,73406,0.218960,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.000,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,missing_gender,-99999.0
20377,73407,0.193544,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.000,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,missing_gender,-99999.0
20378,73408,0.099352,1.0,gh,1.0,NaN,1,NaN,4.136,6162640.0,...,730.0,-14.0,-744.0,-99999.0,0.0,-99999.0,-99999.0,0.0,FEMALE,38.0
20379,73409,0.227471,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.000,-99999.0,...,-99999.0,-99999.0,-99999.0,0.0,0.0,-99999.0,0.0,1.0,missing_gender,-99999.0
20380,73410,0.084331,1.0,gh,1.0,g8,1,NaN,0.000,3800000.0,...,180.0,-11.0,-191.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,FEMALE,25.0

In [5]:
df_test

,id,Field_3,Field_4,Field_10,Field_12,Field_13,Field_18,Field_19,Field_20,Field_21,...,Field_7Field_8,Field_7Field_9,Field_8Field_9,F_startDateF_endDate,E_startDateE_endDate,C_startDateC_endDate,G_startDateG_endDate,A_startDateA_endDate,gender,Age
0,53030,2.0,t1,1.0,NaN,1,NaN,0.000,1490000.0,4.5,...,365.0,-28.0,-393.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,MALE,25.0
1,53031,2.0,t1,1.0,NaN,1,NaN,0.000,1043000.0,4.5,...,365.0,-4.0,-369.0,-99999.0,-99999.0,-99999.0,-99999.0,0.0,MALE,28.0
2,53032,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.000,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,missing_gender,-99999.0
3,53033,2.0,t1,1.0,NaN,1,NaN,0.000,1490000.0,4.5,...,365.0,-25.0,-390.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,FEMALE,24.0
4,53034,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.000,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,0.0,0.0,0.0,0.0,51.0,missing_gender,-99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20376,73406,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.000,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,missing_gender,-99999.0
20377,73407,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.000,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,missing_gender,-99999.0
20378,73408,1.0,gh,1.0,NaN,1,NaN,4.136,6162640.0,4.5,...,730.0,-14.0,-744.0,-99999.0,0.0,-99999.0,-99999.0,0.0,FEMALE,38.0
20379,73409,-99999.0,NaN,-99999.0,NaN,0,NaN,-99999.000,-99999.0,-99999.0,...,-99999.0,-99999.0,-99999.0,0.0,0.0,-99999.0,0.0,1.0,missing_gender,-99999.0
20380,73410,1.0,gh,1.0,g8,1,NaN,0.000,3800000.0,4.5,...,180.0,-11.0,-191.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,FEMALE,25.0

In [16]:
new_data.to_csv(f"../../data/kalapa/{data_version}/new_train.csv", index = False)