In [1]:
import pandas as pd
import numpy as np
import datetime
import time
import sys
import csv
from sklearn import metrics
from dateutil.parser import parse
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
data_version = "16-07-2020"

In [3]:
df_train = pd.read_csv("../../data/kalapa/train.csv")
df_test = pd.read_csv("../../data/kalapa/test.csv")

/home/parker/anaconda3/envs/py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (35,43) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/parker/anaconda3/envs/py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (34,42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
def check_duplicate(feature1, feature2):
    check1 = list(df_train[feature1].fillna("NaN"))
    check2 = list(df_train[feature2].fillna("NaN"))
    return check1 == check2
distinct_columns = {}
for col1 in df_train.columns:
    vc = df_train[col1].value_counts()
    index = [len(vc), set(list(vc)), set(list(vc.index))]
    for col2 in distinct_columns:
        if index == distinct_columns[col2] and check_duplicate(col1, col2):
            break
    else:
        distinct_columns[col1] = index
df_train = df_train[distinct_columns]
del distinct_columns['label']
df_test = df_test[distinct_columns]

In [36]:
data_type = {
    "cat_num":["Field_22","Field_13", "Field_41", "Field_42","Field_50", "Field_51", "Field_53",\
               "Field_73",  "partner0_A", "partner0_B", "partner0_C", "partner0_D", "partner0_E",\
               "partner0_F", "partner0_G", "partner0_H", "partner1_A", "partner1_C", "partner1_G", "partner1_H",\
               "partner2_A", "partner2_C", "partner2_D", "partner2_F", "partner2_H","partner3_A", "partner3_D",\
               "partner3_E", "partner4_L", "partner5_A", "partner5_D", "partner5_G"],
    "cat_str" : ["Field_4", "Field_12", "gioiTinh", "Field_62", "Field_65", "Field_66",\
                 "info_social_sex", "Field_36", "Field_54", "Field_55", "Field_38", "brief", "Field_61", \
                 'data.basic_info.locale', "currentLocationCountry", 'homeTownCountry', "currentLocationState", \
                'homeTownState'], 
    "date" : ["Field_1", "Field_2", "Field_5", "Field_6", "Field_7", "Field_8", "Field_9", "Field_11",\
             "Field_15", "Field_25", "Field_32", "Field_33", "Field_35", "Field_40", \
             "Field_43", "Field_44", "F_startDate", "F_endDate", "E_startDate", "E_endDate", "C_startDate",
             "C_endDate", "G_startDate", "G_endDate", "A_startDate", "A_endDate",  ],
    "text" : ["diaChi", "Field_46", "Field_48", "Field_49", "Field_56",\
              "maCv", "currentLocationName",'homeTownName', "currentLocationCity", "homeTownCity"],
    "drop" : [ "Field_34","Field_68", "Field_18", "Field_45",]
}

In [6]:
a = data_type["cat_num"]+ data_type["cat_str"]+data_type["date"]+data_type["text"]+ data_type["drop"]

In [7]:
others = []
for feature in df_train.columns:
    if feature not in a:
        vc = df_train[feature].value_counts()
        index = [len(vc), list(vc)[:5], list(vc.index)[:5]]
        print(f"{feature}:{index}")

id:[53030, [1, 1, 1, 1, 1], [2047, 45699, 12947, 14994, 8849]]
label:[2, [36234, 16796], [0, 1]]
Field_3:[2, [13771, 11793], [2.0, 1.0]]
Field_10:[6, [23354, 1978, 201, 26, 3], [1.0, 2.0, 3.0, 4.0, 5.0]]
Field_19:[354, [22583, 888, 136, 116, 116], [0.0, 1.0, 1.86, 2.34, 2.67]]
Field_20:[4735, [1664, 1353, 717, 557, 499], [1490000.0, 1390000.0, 4500000.0, 973000.0, 1043000.0]]
Field_21:[4, [25372, 89, 60, 43], [4.5, 0.0, 6.0, 3.0]]
Field_23:[313, [6054, 1290, 804, 778, 521], [0.0, 12.0, 24.0, 1.0, 2.0]]
Field_27:[636, [23330, 237, 144, 99, 74], [0.0, 1150000.0, 1210000.0, 3317000.0, 3745000.0]]
Field_28:[634, [23414, 144, 142, 99, 74], [0.0, 54450.0, 51750.0, 149265.0, 168525.0]]
Field_29:[43, [9526, 8969, 2065, 1761, 418], [12.0, 0.0, 6.0, 3.0, 24.0]]
ngaySinh:[7894, [132, 110, 107, 104, 103], [19900101.0, 19910101.0, 19880101.0, 19870101.0, 19920101.0]]
namSinh:[3, [24130, 1432, 2], [0.0, 1.0, 2.0]]
Field_39:[2, [20695, 4869], [1.0, 0.0]]
Field_47:[5, [10328, 6667, 5389, 1786, 1394], ['Zezo', 'One', 'Four', 'Two', 'Three']]
Field_58:[5, [18595, 4855, 1354, 552, 208], [0.0, 5.0, 2.0, 4.0, 3.0]]
Field_59:[35, [8184, 6076, 4862, 1988, 1327], [5.0, 4.0, 33.0, 6.0, 35.0]]
Field_60:[34, [8184, 6076, 4862, 1988, 1327], [3.0, 2.0, 31.0, 4.0, 33.0]]
Field_63:[10, [11802, 5056, 4074, 1659, 1420], [2.0, 3.0, 4.0, 8.0, 0.0]]
Field_64:[9, [11802, 5056, 4074, 1659, 1139], [1.0, 2.0, 3.0, 4.0, 7.0]]
Field_67:[14430, [377, 99, 95, 87, 82], [776953.0, 67129.0, 470954.0, 644004.0, 658535.0]]
Field_69:[101, [7449, 505, 398, 384, 306], [0.0, 0.01, 1.0, 0.02, 0.04]]
Field_70:[50, [2270, 1684, 1492, 1403, 1125], [0.08, 0.12, 0.49, 0.6, 0.62]]
Field_71:[321, [951, 930, 817, 518, 458], [0.06, 0.245, 0.04, 0.195, 0.175]]
Field_72:[496, [1020, 911, 727, 558, 514], [0.12, 0.49, 0.08, 0.39, 0.28]]
Field_74:[489, [142, 124, 121, 112, 111], [347.0, 340.0, 1436.0, 342.0, 337.0]]
Field_75:[14, [5077, 3728, 3698, 2775, 2431], [4.0, 3.0, 5.0, 1.0, 2.0]]
Field_76:[11, [11267, 6548, 3880, 1283, 384], [0.0, 1.0, 2.0, 3.0, 4.0]]
Field_77:[15, [4480, 4209, 4183, 3375, 2918], [4.0, 1.0, 3.0, 2.0, 5.0]]
friendCount:[2932, [9216, 426, 258, 209, 172], [0.0, 1.0, 2.0, 3.0, 4.0]]
subscriberCount:[1525, [18335, 35, 30, 29, 28], [0.0, 13.0, 47.0, 30.0, 65.0]]
currentLocationLocationId:[914, [10391, 2657, 2292, 317, 278], [0.0, 108458769184495.0, 106388046062960.0, 111711568847056.0, 105667452800809.0]]
currentLocationLatitude:[679, [10391, 2657, 2309, 319, 278], [0.0, 10.77, 21.0333, 16.0678, 19.8075]]
currentLocationLongitude:[589, [10391, 2657, 2302, 319, 278], [0.0, 106.6815, 105.85, 108.221, 105.77600000000001]]
homeTownLocationId:[931, [11546, 1217, 1170, 361, 222], [0.0, 106388046062960.0, 108458769184495.0, 105667452800809.0, 114668461883395.0]]
homeTownLatitude:[642, [11546, 1236, 1170, 361, 222], [0.0, 21.0333, 10.77, 19.8075, 20.8523]]
homeTownLongitude:[521, [11546, 1234, 1170, 361, 222], [0.0, 105.85, 106.6815, 105.77600000000001, 106.7005]]
topFriends:[5, [11696, 3339, 2401, 1828, 1402], [5.0, 1.0, 2.0, 3.0, 4.0]]
numOrg:[19, [7800, 7693, 6565, 6524, 5613], [2.0, 3.0, 4.0, 1.0, 0.0]]
F_numOrg:[6, [20414, 3922, 672, 101, 6], [1.0, 2.0, 3.0, 4.0, 5.0]]
F_numQuery:[15, [17532, 5102, 1647, 522, 181], [1.0, 2.0, 3.0, 4.0, 5.0]]
E_numOrg:[7, [19406, 4977, 1105, 194, 25], [1.0, 2.0, 3.0, 4.0, 5.0]]
E_numQuery:[15, [16361, 5683, 2206, 885, 354], [1.0, 2.0, 3.0, 4.0, 5.0]]
C_numOrg:[3, [20419, 1397, 84], [1.0, 2.0, 3.0]]
C_numQuery:[76, [17768, 2745, 442, 167, 145], [1.0, 2.0, 3.0, 4.0, 5.0]]
G_numOrg:[4, [20789, 2639, 223, 7], [1.0, 2.0, 3.0, 4.0]]
G_numQuery:[10, [20239, 2628, 562, 144, 55], [1.0, 2.0, 3.0, 4.0, 5.0]]
A_numOrg:[14, [8979, 8403, 7902, 6336, 4101], [2.0, 3.0, 1.0, 4.0, 5.0]]
A_numQuery:[36, [7601, 7135, 7104, 5452, 4097], [2.0, 3.0, 1.0, 4.0, 5.0]]
summary_6m:[103, [4279, 4081, 3348, 3127, 3061], [1.0, 2.0, 7.0, 8.0, 6.0]]
summary_3m:[94, [4762, 4127, 3403, 3339, 3125], [1.0, 2.0, 7.0, 6.0, 5.0]]
summary_1m:[80, [6382, 4652, 3884, 3509, 3033], [1.0, 2.0, 5.0, 6.0, 7.0]]
summary_1w:[51, [7521, 3716, 2833, 1860, 1809], [1.0, 2.0, 5.0, 6.0, 3.0]]
num_of_phone:[5, [46317, 4015, 169, 14, 3], [1.0, 2.0, 3.0, 4.0, 5.0]]
Field_78:[427, [3367, 1431, 1079, 1024, 952], [0.0, 1.0, 2.0, 3.0, 4.0]]
Field_79:[11036, [981, 485, 358, 264, 252], [0.0, 0.7071067811865476, 1.4142135623730951, 3.5355339059327378, 2.1213203435596424]]
Field_80:[2839, [2619, 925, 724, 637, 517], [0.0, 1.0, 2.0, 3.0, 4.0]]
Field_81:[421, [13533, 2191, 1228, 842, 596], [0.0, 1.0, 2.0, 3.0, 4.0]]
Field_82:[4, [36251, 7000, 5099, 4680], [1, 4, 2, 3]]

In [8]:
for column in df_train[data_type["drop"]]:
    vc = df_train[column].value_counts()
    index = [len(vc), list(vc)[:5], list(vc.index)[:5]]
    #if len(vc) <= 2 :
    print(f"{column}:{index}")

Field_34:[2635, [337, 239, 233, 188, 188], ['20180102', '20190401', '20190102', '20180101', '20180103']]

In [9]:
df_train["ngaySinh"] = df_train["ngaySinh"].fillna("n")
df_train["ngaySinh"] = df_train["ngaySinh"].map(lambda x: parse(str(x)[:-8]).timestamp() if x is not "n" else np.nan)

In [10]:
['I', 'V', 'II', 'IV', 'III']
classes = {
    "Zezo" : 0,
    "I" : 1,
    "II" : 2,
    "III": 3,
    "IV" : 4,
    "V" : 5
}
df_train["Field_62"] = df_train["Field_62"].map(lambda x: classes[x] if x in classes else x)
df_test["Field_62"] = df_test["Field_62"].map(lambda x: classes[x] if x in classes else x)

In [11]:
classes = {
    "Zezo" : 0,
    "One" : 1,
    "Two" : 2,
    "Three": 3,
    "Four" : 4
}
df_train["Field_47"] = df_train["Field_47"].map(lambda x: classes[x] if x in classes else x)
df_test["Field_47"] = df_test["Field_47"].map(lambda x: classes[x] if x in classes else x)

In [12]:
def cat_test(classes, cat_str):
    if cat_str in classes:
        return classes[cat_str]
    else:
        return np.nan

In [13]:
for feature in data_type["drop"]:
    df_train[feature] = df_train[feature].fillna("NaN")
    vc = df_train[feature].value_counts()
    uniques = list(vc.index)
    classes = {}
    k = 0
    for unique in uniques:
        if unique not in classes:
            classes[unique] = k
            k += 1
    df_train[feature] = df_train[feature].map(lambda x: classes[x])

In [14]:
df_train = df_train.drop(data_type["drop"], axis = 1)
#df_test= df_test.drop(data_type["drop"], axis = 1)

In [15]:
def transform(df):
    for feature in distinct_columns:
        if feature in data_type["cat_num"]:
            df[feature] = df[feature].fillna("Nan")
            df = pd.get_dummies(df, columns=[feature])
        elif feature in data_type["date"]:
            df[feature] = df[feature].map(lambda x: parse(str(x)).timestamp() if type(x) is str else x)
            df[feature].fillna(df[feature].mean())
        elif feature in  data_type["cat_str"]:
            df[feature] = df[feature].fillna("Nan")
            df = pd.get_dummies(df, columns=[feature])
        elif feature in data_type["text"]:
            vectorizer = TfidfVectorizer(max_features = 10)
            columns = [str(feature) +"_" + str(i) for i in range(10)]
            X = pd.DataFrame(data = vectorizer.fit_transform(df[feature].fillna("Nan")).toarray())
            X.columns  = columns
            df = df.join(X)
            df = df.drop([feature], axis =1)
    return df

In [16]:
df_train = transform(df_train)

In [17]:
X1 = df_train.Field_2 - df_train.Field_1
X2 = df_train.Field_6 - df_train.Field_5
X3 = df_train.Field_8 - df_train.Field_7
X4 = df_train.Field_33 - df_train.Field_32
X5 = df_train.Field_44 - df_train.Field_43
X6 = df_train.F_endDate - df_train.F_startDate
X7 = df_train.E_endDate - df_train.E_startDate
X8 = df_train.C_endDate - df_train.C_startDate
X9 = df_train.G_endDate - df_train.G_startDate
X10 = df_train.A_endDate - df_train.A_startDate
df_train = pd.concat([df_train,X1,X2, X3, X4, X5, X6, X7, X8, X9, X10], axis=1)

In [18]:
df_train.head()

,id,label,Field_1,Field_2,Field_3,Field_5,Field_6,Field_7,Field_8,Field_9,...,0,1,2,3,4,5,6,7,8,9
0,0,1,1.563940e+09,1.564604e+09,1.0,1.545829e+09,1.545829e+09,1.546261e+09,1.564495e+09,1.545829e+09,...,664259.146,0.0,18234000.0,116038800.0,9.007220e+07,NaN,NaN,NaN,NaN,5788800.0
1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2,0,1.547709e+09,1.547709e+09,2.0,1.547644e+09,1.547644e+09,1.546261e+09,1.577711e+09,1.547644e+09,...,138.633,0.0,31449600.0,129945600.0,1.996190e+07,0.0,2073600.0,NaN,NaN,4057200.0
3,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
"""
df_train.Field_1 = df_train.Field_2 - df_train.Field_1
df_train.Field_5 = df_train.Field_6 - df_train.Field_5
df_train.Field_7 = df_train.Field_8 - df_train.Field_7
df_train.Field_32 = df_train.Field_33 - df_train.Field_32
df_train.Field_43 = df_train.Field_44 - df_train.Field_43
df_train.F_startDate = df_train.F_endDate - df_train.F_startDate
df_train.E_startDate = df_train.E_endDate - df_train.E_startDate
df_train.C_startDate = df_train.C_endDate - df_train.C_startDate
df_train.G_startDate = df_train.G_endDate - df_train.G_startDate
df_train.G_startDate = df_train.A_endDate - df_train.A_startDate


drop = ["Field_2", "Field_6", "Field_8", "Field_33", "Field_44", "F_endDate", "E_endDate", "C_endDate",\
       "G_endDate", "A_endDate"]

df_train = df_train.drop(drop, axis = 1)
"""

'\ndf_train.Field_1 = df_train.Field_2 - df_train.Field_1\ndf_train.Field_5 = df_train.Field_6 - df_train.Field_5\ndf_train.Field_7 = df_train.Field_8 - df_train.Field_7\ndf_train.Field_32 = df_train.Field_33 - df_train.Field_32\ndf_train.Field_43 = df_train.Field_44 - df_train.Field_43\ndf_train.F_startDate = df_train.F_endDate - df_train.F_startDate\ndf_train.E_startDate = df_train.E_endDate - df_train.E_startDate\ndf_train.C_startDate = df_train.C_endDate - df_train.C_startDate\ndf_train.G_startDate = df_train.G_endDate - df_train.G_startDate\ndf_train.G_startDate = df_train.A_endDate - df_train.A_startDate\n\n\ndrop = ["Field_2", "Field_6", "Field_8", "Field_33", "Field_44", "F_endDate", "E_endDate", "C_endDate",       "G_endDate", "A_endDate"]\n\ndf_train = df_train.drop(drop, axis = 1)\n'

In [20]:
df_train.head()

,id,label,Field_1,Field_2,Field_3,Field_5,Field_6,Field_7,Field_8,Field_9,...,0,1,2,3,4,5,6,7,8,9
0,0,1,1.563940e+09,1.564604e+09,1.0,1.545829e+09,1.545829e+09,1.546261e+09,1.564495e+09,1.545829e+09,...,664259.146,0.0,18234000.0,116038800.0,9.007220e+07,NaN,NaN,NaN,NaN,5788800.0
1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2,0,1.547709e+09,1.547709e+09,2.0,1.547644e+09,1.547644e+09,1.546261e+09,1.577711e+09,1.547644e+09,...,138.633,0.0,31449600.0,129945600.0,1.996190e+07,0.0,2073600.0,NaN,NaN,4057200.0
3,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_train = df_train.fillna(df_train.mean())

In [22]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53030 entries, 0 to 53029
Columns: 1193 entries, id to 9
dtypes: float64(222), int64(4), uint8(967)
memory usage: 140.3 MB

In [23]:
categoricals = []
for header in df_train.columns:
    if str(df_train[header].dtypes) is "object":
        categoricals.append(header)
if len(categoricals) is 0:
    print("There are no categorical variable in the data set")
print(categoricals)

There are no categorical variable in the data set
[]

In [24]:
#df_test = transform(df_test)
#df_test = df_test.fillna(df_test.mean())

In [25]:
X = df_train.iloc[:,2:]
scaler = MinMaxScaler()
scaler.fit(X)
X_transform = scaler.transform(X)
#test_transform = scaler.transform(df_test.iloc[:,1:])
X_transform = pd.DataFrame(data = X_transform)
#test_transform = pd.DataFrame(data = test_transform)

In [26]:
train = pd.concat([df_train.label,X_transform], axis = 1)
#test = pd.concat([df_test.id,test_transform], axis = 1)

In [27]:
train.columns = df_train.iloc[:,1:].columns

In [28]:
train.head()

,label,Field_1,Field_2,Field_3,Field_5,Field_6,Field_7,Field_8,Field_9,Field_10,...,0,1,2,3,4,5,6,7,8,9
0,1,0.858723,0.865461,0.000000,0.905224,0.905224,0.835758,0.620451,0.905224,0.200000,...,0.008157,0.542097,0.123182,0.807485,0.926814,0.057777,0.063766,0.044828,0.018521,0.167500
1,0,0.702279,0.714121,0.538687,0.880168,0.878789,0.810383,0.614491,0.880464,0.219308,...,0.014312,0.538737,0.152858,0.704122,0.669363,0.057777,0.063766,0.044828,0.018521,0.000000
2,0,0.693564,0.693548,1.000000,0.910604,0.910604,0.835758,0.646219,0.910604,0.200000,...,0.000002,0.542097,0.185563,0.845322,0.205402,0.000000,0.120628,0.044828,0.018521,0.117396
3,0,0.702279,0.714121,0.538687,0.880168,0.878789,0.810383,0.614491,0.880464,0.219308,...,0.014312,0.538737,0.152858,0.704122,0.669363,0.057777,0.063766,0.044828,0.018521,0.125235
4,1,0.702279,0.714121,0.538687,0.880168,0.878789,0.810383,0.614491,0.880464,0.219308,...,0.014312,0.538737,0.152858,0.704122,0.669363,0.057777,0.063766,0.044828,0.018521,0.125235

In [29]:
#test.head()

In [30]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53030 entries, 0 to 53029
Columns: 1192 entries, label to 9
dtypes: float64(1191), int64(1)
memory usage: 482.3 MB

In [31]:
X_train, X_dev = train_test_split(train, test_size=0.1, random_state=40, stratify = train.label)
X_train.to_csv(f"../../data/kalapa/{data_version}/train.csv", index = False)
X_dev.to_csv(f"../../data/kalapa/{data_version}/dev.csv", index = False)

In [32]:
X_train.sample(5).to_csv(f"../../data/kalapa/{data_version}-test/train.csv", index = False)
X_dev.sample(5).to_csv(f"../../data/kalapa/{data_version}-test/dev.csv", index = False)

In [33]:
#test.to_csv(f"../../data/kalapa/{data_version}/test.csv", index = False)
#test.sample(5).to_csv(f"../../data/kalapa/{data_version}-test/test.csv", index = False)

In [34]:
#test.columns = df_test.columns